.contact {
	background: #f0f0f0;
	padding: 0 0 50px;
	position: relative;
}

.contacts h3 {
	font-weight: 600;
	vertical-align: baseline;
	display: inline-block;
}

.contact .header {
	background: #fff;
}

.contact .background {
	position: relative;
}

.contact .background:before {
	content: '';
	display: block;
	width: 100%;
	height: 500px;
	background: linear-gradient(#991d48, #4e3979);
	position: absolute;
}

.contact .background:after {
	content: '';
	display: block;
	position: absolute;
	width: 208px;
	height: 116px;
	background: url('/images/talk.png');
	top: 100px;
	left: 0;
	right: 0;
	margin: auto;
}

.contact .container.secondary {
	background: #fff;
	padding: 35px;
	margin: 260px auto auto;
}

.contact .field .label {
	font-weight: 400;
	margin-bottom: auto;
}

.contact .field .label .required {
	float: right;
	font-weight: normal;
	font-size: 0.8rem;
	color: #e61757;
}

.contact .field .control input, select, textarea {
	width: 100%;
	height: 35px;
	resize: none;
	border: 1px solid #e2e2e2;
}

.contact .field .control textarea {
	height: 200px
}

.contact .field .button {
	border-radius: 0;
	border: 0;
	background: #e61757;
	color: #fff;
	font-weight: 600;
	width: 75px;
	height: 35px;
	font-size: 14px;

}

.contact .contactinfo {
	color: #303030;
}

.contact .contactinfo .title {
	font-weight: 600;
}

.contacts {
	margin: 30px 0 0;
}

.contacts .maps:before {
	content: '';
	display: inline-block;
	width: 50px;
	height: 60px;
	background: url('/images/maps.png') center no-repeat;
}

.contacts .phone:before {
	content: '';
	display: inline-block;
	width: 50px;
	height: 60px;
	background: url('/images/phone.png') center no-repeat;	
}

.contacts .email:before {
	content: '';
	display: inline-block;
	width: 50px;
	height: 60px;
	background: url('/images/pen.png') center no-repeat;	
}