.portfolio .navbar .navbar-start {
	margin: auto;
}

.portfolio .navbar {
	margin-bottom: 30px;
}

.portfolio .columns .column {
	height: 300px;
}

.portfolio .columns.primary .column:nth-child(odd) {
	background: #5a546c;
}

.portfolio .columns.primary .column:nth-child(even) {
	background: #e31e64;
}

.portfolio .columns.secondary .column:nth-child(odd) {
	background: #e31e64;
}

.portfolio .columns.secondary .column:nth-child(even) {
	background: #5a546c;
}